<div class="titre">Calculatrice</div>
<div class="message" style="background-color:red" *ngIf="showMessage">
  {{messageErreur}}
</div>
<div class="calculatrice">
    <div class="inside-calculatrice">
        <div class="input" >
            <div class="answer">{{operation}}</div>
        </div>
        <div  class="row">
            <button class="btn" style="width:80px;heigth:5px;" (click)="function7()">7</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function8()">8</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function9()">9</button>
            <button class="btn" style="width:40px;heigth:60px;"(click)="functiondiv()">&divide;</button>
        </div>
        <div class="row">
            <button class="btn" style="width:80px;heigth:5px;" (click)="function4()">4</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function5()">5</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function6()">6</button>
            <button class="btn" style="width:40px;heigth:60px;" (click)="functionmup()">&times;</button>
        </div>
        <div class="row">
            <button class="btn" style="width:80px;heigth:5px;" (click)="function1()">1</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function2()">2</button>
            <button class="btn" style="width:80px;heigth:5px;" (click)="function3()">3</button>
            <button class="btn" style="width:40px;heigth:60px;" (click)="functionsub()">-</button>
        </div>
        <div class="row">
            <button class="btn" style="width:80px;heigth:5px;" (click)="function0()">0</button>
            <button class="btn" style="width:120px;heigth:5px;" (click)="afficherResultat()">=</button>
            <button class="btn" style="width:40px;heigth:60px;" (click)="effacer()">AC</button>
            <button class="btn" style="width:40px;heigth:60px;" (click)="functionadd()">+</button>
        </div>
    <div>
</div>
