<nav class="navigation-bar">
  <div class="nav-head">
      <b>SMS Application</b>
  </div>
  <!--a href="inbox.html" class="active"><i class="bi bi-chat-left-text"></i> Conversations <span class="sms-counter">99+</span></a-->
  <!--<button class="liste"  (click)=show()>Contact List</button>
  <button class="liste" (click)=add()> Add Contact</button>
  <button class="liste" (click)=send() >Messages</button>
  <button class="out" (click)=logOut() >Log Out</button>-->
  <button class="liste" (click)=show()>contact list</button>
  <button class="liste" (click)=add()> add contact</button>
  <button class="liste" (click)=send()>messages</button>
  <button class="out"   (click)=logOut()>log out</button>
</nav>
<!--div class="image">
  <div><img src="../assets/download (1).jpg" /></div>
  <div class="image2"><img src="../assets/images.jpg"/></div>
  <footer> <u>Copyright 4GIgroupe2</u></footer>
</div-->
<!--form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-check-inline m-auto">
  <div class="form-group">
      <input ngModel name="keyword" type="text">
      <button class="btn btn-sm btn-outline-info">
<span class="fa fa-search"></span>
</button>
  </div>
</form-->